body {
    font-family: Calibri, Arial, Helvetica, sans-serif;
    color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
.heading {
    font-family: 'Calibri Light', Calibri, Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: var(--heading-color);
}

.text-align-middle {
    vertical-align: middle;
}