/**************************************
 * Imports
 **************************************/

@import 'normalize.css';


/**************************************
 * Variable declaration
 **************************************/

body {
    /* clearance */
    --app-clearance: 1.25rem;
    --half-app-clearance: 0.625rem;

    /* colors */
    --color-primary: #000;
    --color-secondary: #FFF;
    --color-grey: #555;
    --color-lightgrey: #d0d0d0;

    /* colors for colored style */
    --color-background: #86bbd8;
    --color-accent: #134074;
    --color-heading: #da9100;
    --color-text: #362417;
    --color-error: #990000;


    /* borders */
    --border-primary: solid 1px var(--color-primary);
    --border-secondary: solid 1px var(--color-grey);
}


/**************************************
 * General style
 **************************************/

* {
    box-sizing: border-box;
}

body {
    font-family: Calibri, Arial, Helvetica, sans-serif;
    color: var(--color-grey);
    background-color: var(--color-secondary);
    margin: 0;
}

.app-colored {
    color: var(--color-text);
    background-color: var(--color-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Calibri Light', Calibri, Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #000;
}

.app-colored h1,
.app-colored h2,
.app-colored h3,
.app-colored h4,
.app-colored h5,
.app-colored h6 {
    color: var(--color-heading);
}

button,
select {
    color: var(--color-grey);
    background-color: var(--color-secondary);
    border: solid 1px var(--color-grey);
}

.app-colored button,
.app-colored select {
    color: var(--color-accent);
    background-color: var(--color-background);
    border-color: var(--color-accent);
}


button + button {
    margin-left: 0.3rem;
}

.hidden {
    display: none;
}

/**************************************
 * Container
 **************************************/

.page-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        'header'
        'main'
        'footer';
    height: 100vh;
    margin: 0 var(--app-clearance);
}


/**************************************
 * Header
 **************************************/

.page-container > header {
    grid-area: header;
}

header > h1 {
    margin: 0 calc( -1 * var(--app-clearance) ) 0.67em calc( -1 * var(--app-clearance) );
    padding: 0.67em var(--app-clearance);
    border-bottom: var(--border-primary);
}

.app-colored header > h1 {
    background-color: var(--color-accent);
    border-bottom-color: transparent;
}


/**************************************
 * Navigation
 **************************************/

nav {
    display: flex;
    justify-content: space-between;
}

nav + nav {
    margin-top: var(--app-clearance);
}


/**************************************
 * Content
 **************************************/

.page-container > main {
    grid-area: main;
    overflow-y: auto;
}


/**************************************
 * Notes list
 **************************************/

.notes-list {
    list-style: none;
    padding: 0;
}

.notes-list > li {
    padding: var(--half-app-clearance);
}

.notes-list > li + li {
    border-top: var(--border-secondary);
}

.app-colored .notes-list > li + li {
    border-top-color: var(--color-accent);
}

.note-container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: var(--app-clearance);
    grid-template-rows: auto 1fr;
    grid-row-gap: var(--half-app-clearance);
    grid-template-areas:
        'due-date title action'
        'due-state description action';
}

.note-container > .note-due-date {
    grid-area: due-date;
}

.note-container > .note-title {
    grid-area: title;
}

.note-header {
    display: flex;
    justify-content: space-between;
}

.note-title {
    color: #000;
    margin: 0;
}

.app-colored .note-title {
    color: var(--color-text);
}

.note-importance > .not-set {
    color: #d3d3d3;
}

.note-container > .note-due-state {
    grid-area: due-state;
}

.note-due-state > * {
    vertical-align: middle;
}

.note-due-state > input + label {
    margin-left: 4px;
}

.note-container > .note-description {
    grid-area: description;
}

.note-description {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2px;
    border: solid 1px var(--color-lightgrey);
}

.note-description > div {
    max-height: 2.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    /* TODO: With long text on one line, the note-description gets to wide and you have to scroll. */
}

.note-description > button {
    border: none;
}

.note-container > .note-actions {
    grid-area: action;
}


/**************************************
 * Notes form
 **************************************/

.form-group {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: var(--app-clearance);
    grid-template-rows: auto auto;
    grid-row-gap: var(--half-app-clearance);
    grid-template-areas:
            'label input'
            'space error-message';
    max-width: 750px;
}

.form-group > label {
    grid-area: label;
}

.form-group > input,
.form-group > textarea {
    grid-area: input;
    color: var(--color-grey);
}

.app-colored .form-group > input,
.app-colored .form-group > textarea {
    color: var(--color-text);
    background-color: var(--color-background);
    border: solid 1px var(--color-accent);
}

.form-group > .error-message {
    grid-area: error-message;
}

.app-colored .form-group > .error-message {
    color: var(--color-error);
}

.form-group > .error-message::before {
    content: 'Error: '
}

.form-group + .form-group {
    margin-top: var(--half-app-clearance);
}

.form-actions {
    margin-top: var(--app-clearance);
}

form:invalid > .form-actions > button[type=submit] {
    /* TODO: set style for diabled save button */
}


/**************************************
 * Footer
 **************************************/

.page-container > footer {
    grid-area: footer;
    margin: 0 calc( -1 * var(--app-clearance) );
    padding: var(--half-app-clearance) var(--app-clearance);
    border-top: var(--border-primary);
}

.app-colored footer {
    background-color: var(--color-accent);
    color: var(--color-background);
    border-top-color: transparent;
}