.header__heading {
    margin: 0 calc(-1 * var(--app-clearance)) 0.67em calc(-1 * var(--app-clearance));
    padding: 0.67em var(--app-clearance);
    background-color: var(--header-color);
    border-bottom: var(--border-content);
}

.header__notes-count {
    position: absolute;
    top: 1rem;
    right: var(--app-clearance);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    background-color: var(--heading-color);
    font-size: 1.2em;
    color: var(--header-color);
    border-radius: 50%;
}