.radio-group {
    border: none;
}

.radio-group__item--hidden {
    position: absolute;
    visibility: hidden;
}

.radio-group__symbol {
    cursor: pointer;
    color: var(--text-color);
}

.radio-group__item--hidden:checked ~ .radio-group__symbol {
    color: var(--placeholder-color);
}

.radio-group__item--hidden:checked + .radio-group__symbol {
    color: var(--text-color);
}