@import url("/externals/normalize-css/normalize.css");
@import url("/externals/@fortawesome/fontawesome-free-webfonts/css/fontawesome.css");
@import url("/externals/@fortawesome/fontawesome-free-webfonts/css/fa-solid.css");
@import url("_variables.css");
@import url("_font.css");
@import url("_button.css");
@import url("_text-box.css");
@import url("_form.css");
@import url("_form-group.css");
@import url("_radio-group.css");
@import url("_flex-container.css");
@import url("_application-grid.css");
@import url("_header.css");
@import url("_content-grid.css");
@import url("_footer.css");
@import url("_notes-list.css");
@import url("_note.css");

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    margin: 0;
}

input,
textarea {
    padding: 2px;
}